@font-face {
    src: url(../Fonts/DJB\ Holly\ Typed\ 2\ Much.ttf);
    font-family: holly;
}

@font-face {
    src: url(../Fonts/JMH\ Typewriter.ttf);
    font-family: typewrite;
}

html, 
body{
    padding: 0;
    margin: 0;
}

body{
    max-width: 100%;
    margin: auto;
    background-image: url("../Images/wall.jpg");
    z-index: -10;
    font-family: typewrite;
}



.sticky-header{
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
    position: fixed;
    top: 0;
    height: 110px;
    width: 100%;
    z-index: 0;

}

.sticky-header h1{
    font-family: holly;
    color: rgb(49, 40, 40);
    font-size: 3.5rem;
    line-height: 8 rem;
    text-align: center;
    margin: 0 auto;
}

.patch{
    z-index: 99;
    
}

.ticketDisplay{
    position: relative;
    top: 0;
    left: 0;
    z-index: -6;
}

.ticket{
    position: absolute;
    padding-top: 0%;
    left: 30px;
    border: 1px solid #000000;
    z-index: -5;
}

.section .p{
    z-index: -1;
    position: absolute;
    font-size: 10em;
    font-family: typewrite;
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color:  rgb(78, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
    font-family: typewrite;
    font-size: 1.5rem;
}