#container{
    width:inherit;
    height:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width:1115px;
    height: 534px;
    position: relative;
    user-select: none;
}

img.canvas{
    border-radius: 10px;
}

#card:active{
    transform: scale(1.01);
}