#scratchPatch {
    display: block;
    margin: 0 auto;
    background-image: url('../Images/ticket_cover_homepage.png');
    background-image: -webkit-image-set(url('../Images/ticket_cover_homepage.png') 1x, 
	url('../Images/ticket_cover_layer.png') 2x );
    background-size: cover;
    width: 100%;
    max-width: 750px;
    height: auto;
    cursor:  crosshair;
    cursor: url(circular-cursor.png) 53 53, crosshair;
    z-index: 100;
}